/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #475F80;
  }
  main {
    padding: 0px 0px;
  }

  a{
    color: #475F80;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
  }

  .navbar {
    background: #fff;
    padding: 0 15px;
    width: 100%;
    z-index: 1;
  }

  .navbar__menu{
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .item{
    display: block;
    color: #475F80;
    text-decoration: none;
    font-size: 20px;
    
  }


.container{
    display: grid; 
    grid-template-rows: 1fr;
    grid-template-columns: 8fr 0.8fr 0.8fr 0.8fr;
    gap: 0px;
    height: 100%;
}
.navbar__container-item{
    display: flex; 
    justify-content:center;    

}

.navbar__logo{
    display: flex;
    justify-content:baseline;
    margin-left: 100px;
    background-color: #475F80;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.logo{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  font-size: 35px;
}

.navbar__item{
    display: flex;
    justify-content: center;
    margin-right: 100px;
    align-items: center;
}

.body-container{
  margin-top: 110px;
  display: grid; 
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  height: 100%;
  grid-auto-flow: column;

}


.body-container__text{
  margin-left: 30px;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.body-container__image{
  max-width: 1000px;
  margin-right: 20px;
}

.body-container__h1{
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 50px;
  letter-spacing: 10px;
}

.body-container__p{
  letter-spacing: 2px

}